.navbar {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #0F5298;
    border-bottom-width: 1px;
    border-bottom-color: #0F5298;
    border-bottom-style: solid;
    height: 92px;
}
.Logo{
    margin-left: 20px;
    font-size: 30px;
    color: black;
}
.login-button{
    /*width: 100px;*/
    background-color: white;
    color: white;
    float: right;
}
.Login{
    color: black;
}

.section {
    margin-top: 5%;
}

.button.is-sparta {
    background-color: #0F5298;
    border-color: transparent;
    color: white !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #0F5298;
    color: black !important;
}

.help {
    color: gray;
}

.hidden {
    display: none;
}

