* {
    padding: 0;
    margin: 0;
    outline: none;
}
body {
    padding-top: 10%;
}
#movie-information{
    width: 70%;
    margin-left: 20%;
}
#post-review{
    width: 70%;
    margin-left: 20%;
}
.review-board{
    width: 70%;
    margin-left: 20%;
}
.enroll-btn{
    float: right;
}
.delete-button{
    float: right;
}

