* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    padding-top: 10%;
}

#movie-information {
    width: 80%;
    margin-left: 10%;
    height: 50%;
    box-sizing: border-box;
    /*border-width: 2px;*/
    /*border-style: solid;*/
    /*border-color: #666666;*/
    background-color: white;
    border-color: transparent;
    box-shadow: 3px 3px 3px 3px #73aace;
    border-radius: 8px;
}

.image_wrap {
    display: inline-block;
}

.movie-information-wrap {
    display: inline-block;
    position: relative;
    padding-left: 10px;
}
.movie_age{
    font-size: 15px;
    color: #73aace;
}
.movie_text{
    color: #73aace;
}

.reviews_movie_image {
    border-radius: 5px;
    height: 300px;
    margin-left: 5px;
    margin-bottom: 5px;
}

#post-review {
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    padding-top: 3%;
    /*border-style: solid;*/
    /*border-width: 2px;*/
    border-radius: 8px;
    /*border-color: #666666;*/
    background-color: white;
    border-color: transparent;
    box-shadow: 3px 3px 3px 3px;
    padding: 1%;
}
.input-review{
    display: inline-block;
    width: 70%;
    margin-left: 15%;
}
.review-btn{
    float: right;
}
.review-board {
    width: 70%;
    margin-left: 15%;
}
.rating .rate_radio {
    position: relative;
    display: inline-block;
    z-index: 20;
    opacity: 0.001;
    width: 60px;
    height: 60px;
    background-color: #fff;
    cursor: pointer;
    vertical-align: top;
    display: none;
}
.rating .rate_radio + label {
    position: relative;
    display: inline-block;
    margin-left: -4px;
    z-index: 10;
    width: 60px;
    height: 60px;
    background-image: url('starrate.png');
    background-repeat: no-repeat;
    background-size: 60px 60px;
    cursor: pointer;
    background-color: #f0f0f0;
}
.rating .rate_radio:checked + label {
    background-color: #ff8;
}

.enroll-btn {
    float: right;
}

.delete-button {
    float: right;
}

.review-point {
    display: inline-block;
}

.posted-review {
    width: 60%;
    margin-left: 20%;
    background-color: white;
    border-color: transparent;
    box-shadow: 3px 3px 3px 3px;
    /*border-width: 2px;*/
    /*border-style: solid;*/
    border-radius: 8px;
    margin-top: 3%;
    /*border-color: #666666;*/
}
.posted-review-img{
    margin-top: 10px;
    margin-left: 10px;
    width: 80px;
    height: 120px;
}
.review-content{
    margin-top: 10px;
}


