<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">


<!--    <script src="/static/js/reviews.js"></script>-->

    <script src="/static/js/review.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>항해오피스</title>


</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item Logo" href="/">
            HangHae Office
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">

                <a class="button is-info" onclick="window.location.href='/login'">

                        <strong>Sign up/Sign in</strong>
                    </a>
            </div>
        </div>
    </div>
    </div>
</nav>
    <article id="movie-information" class="media">
      <figure class="media-left">
        <p class="image is-256x256">
          <img src="https://bulma.io/images/placeholders/256x256.png">  <!--{{ img_url }}삽입-->
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>제목{{ title }}</strong> <small>영화감독{{ director }}</small> <small>시간{{ time }}</small>
            <br> 출연진---------------
              <br>영화 정보----------------------------------------------------
          </p>
        </div>
      </div>
      <div class="media-right">
        <button class="delete"></button>
      </div>
    </article>
    <form id="post-review">
      <h3>영화 제목 {{ title }}</h3>
      <div class="form-group row">
        <label for="inputReview" class="col-sm-2 col-form-label">영화 한줄평</label>
        <div class="col-sm-10">
          <input type="input" class="form-control" id="inputReview" placeholder="후기를 작성해주세요">
        </div>
      </div>
      <fieldset class="form-group">
          <div>
              <h3 class="review-point">평점</h3>
        <div class="starRev">
          <span class="starR on">별1</span>
          <span class="starR">별2</span>
          <span class="starR">별3</span>
          <span class="starR">별4</span>
          <span class="starR">별5</span>
          <span class="starR">별6</span>
          <span class="starR">별7</span>
          <span class="starR">별8</span>
          <span class="starR">별9</span>
          <span class="starR">별10</span>
        </div>
              </div>
          <button onclick="postReviews()" class="button is-success enroll-btn">등록</button>
      </fieldset>

    </form>
        <article class="media review-board">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="{{ img_url }}">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                  <strong>제목{{ title }}</strong> <small>날짜{{ date }}</small> <small>평점{{ point }}</small>
                  <button type="button" class="delete is-medium delete-button"></button>
                <br>
                    리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰
                <br>
                <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
              </p>
            </div>

          </div>
        </article>

</body>

</html>
