<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="항해 오피스" />
    <meta property="og:description" content="재밌는 영화 후기 및 리뷰를 보실수 있습니다" />
    <meta property="og:image" content="{{ url_for('static', filename='css/navbar_image.png') }}" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">


    <!--    <script src="/static/js/reviews.js"></script>-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="/static/js/review.js"></script>
    <link rel="icon" href="https://image.flaticon.com/icons/png/512/1179/1179120.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <title>항해오피스 : 리뷰페이지</title>

</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="https://image.flaticon.com/icons/png/512/1179/1179120.png">
            <span class="Logo">HangHae Office</span>
        </a>

    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">

                <a class="button login-button" onclick="window.location.href='/login'">
                    {% if username == id %}
                    <span class="Login">Logout</span>
                    {% else %}
                    <span class="Login">Sign in/Sign out</span>
                    {% endif %}

                </a>
            </div>
        </div>
    </div>
    </div>
</nav>
<div id="movie-information">

</div>
<div id="post-review">
            <div class="review_rating"><strong> - 평점</strong>
                <div class="rating">
                    <!-- 해당 별점을 클릭하면 해당 별과 그 왼쪽의 모든 별의 체크박스에 checked 적용 -->
                    <input type="checkbox" name="rating" id="rating1" value="1" class="rate_radio" title="1점">
                    <label for="rating1"></label>
                    <input type="checkbox" name="rating" id="rating2" value="2" class="rate_radio" title="2점">
                    <label for="rating2"></label>
                    <input type="checkbox" name="rating" id="rating3" value="3" class="rate_radio" title="3점" >
                    <label for="rating3"></label>
                    <input type="checkbox" name="rating" id="rating4" value="4" class="rate_radio" title="4점">
                    <label for="rating4"></label>
                    <input type="checkbox" name="rating" id="rating5" value="5" class="rate_radio" title="5점">
                    <label for="rating5"></label>
                </div>
            </div>
        <strong> - 리뷰 작성</strong>
        <button onclick="review_save()" class="button review-btn">등록</button>
        <textarea id="input_review" class="textarea" placeholder="영화 후기를 입력해주세요."></textarea>

</div>
<div id="posted-review-wrap">

</div>




</body>

</html>
